/* ##### Format Default CSS ##### */
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
            touch-action: manipulation;

}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
}

main {
    display: block
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: transparent
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b, strong {
    font-weight: bolder
}

code, kbd, samp {
    font-family: monospace, monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

img {
    border-style: none
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button, input {
    overflow: visible
}

button, select {
    text-transform: none
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox], [type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details {
    display: block
}

summary {
    display: list-item
}

template {
    display: none
}

[hidden] {
    display: none
}

img {
    max-width: 100%;
}

button, input {
    outline: none;
}

.btn {}

/* ##### Grid Layout Class ##### */
.container {
    width: 1200px !important;
    max-width: 1200px !important;
    margin: 0 auto !important;
    display: block !important;
}


.row {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
}

.gutter {
    --gutter: 3px;
}

.row.gutter>.col,
.row.gutter>.col-1,
.row.gutter>.col-2,
.row.gutter>.col-2-4,
.row.gutter>.col-3,
.row.gutter>.col-4,
.row.gutter>.col-5,
.row.gutter>.col-6,
.row.gutter>.col-7,
.row.gutter>.col-8,
.row.gutter>.col-9,
.row.gutter>.col-10,
.row.gutter>.col-11,
.row.gutter>.col-12 {
    padding: 0 var(--gutter);
    margin: var(--gutter) 0;
}

.row.gutter {
    margin-left: calc(var(--gutter) * -1);
    margin-right: calc(var(--gutter) * -1);
}

.row>.col,
.row>.col-1,
.row>.col-2,
.row>.col-2-4,
.row>.col-3,
.row>.col-4,
.row>.col-5,
.row>.col-6,
.row>.col-7,
.row>.col-8,
.row>.col-9,
.row>.col-10,
.row>.col-11,
.row>.col-12 {
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.row>.col-hidden {
    display: none !important;
}

.row>.col-1 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 var(--col-1-width) !important;
            flex: 0 0 var(--col-1-width) !important;
    max-width: var(--col-1-width) !important;
}

.row>.col-2 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 var(--col-2-width) !important;
            flex: 0 0 var(--col-2-width) !important;
    max-width: var(--col-2-width) !important;
}

.row>.col-2-4 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 var(--col-2-4-width) !important;
            flex: 0 0 var(--col-2-4-width) !important;
    max-width: var(--col-2-4-width) !important;
}

.row>.col-3 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 var(--col-3-width) !important;
            flex: 0 0 var(--col-3-width) !important;
    max-width: var(--col-3-width) !important;
}

.row>.col-4 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 var(--col-4-width) !important;
            flex: 0 0 var(--col-4-width) !important;
    max-width: var(--col-4-width) !important;
}

.row>.col-5 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 var(--col-5-width) !important;
            flex: 0 0 var(--col-5-width) !important;
    max-width: var(--col-5-width) !important;
}

.row>.col-6 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 var(--col-6-width) !important;
            flex: 0 0 var(--col-6-width) !important;
    max-width: var(--col-6-width) !important;
}

.row>.col-7 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 var(--col-7-width) !important;
            flex: 0 0 var(--col-7-width) !important;
    max-width: var(--col-7-width) !important;
}

.row>.col-8 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 var(--col-8-width) !important;
            flex: 0 0 var(--col-8-width) !important;
    max-width: var(--col-8-width) !important;
}

.row>.col-9 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 var(--col-9-width) !important;
            flex: 0 0 var(--col-9-width) !important;
    max-width: var(--col-9-width) !important;
}

.row>.col-10 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 var(--col-10-width) !important;
            flex: 0 0 var(--col-10-width) !important;
    max-width: var(--col-10-width) !important;
}

.row>.col-11 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 var(--col-11-width) !important;
            flex: 0 0 var(--col-11-width) !important;
    max-width: var(--col-11-width) !important;
}

.row>.col-12 {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 var(--col-12-width) !important;
            flex: 0 0 var(--col-12-width) !important;
    max-width: var(--col-12-width) !important;
}

.row>.offset-1 {
    margin-left: var(--col-1-width) !important;
}

.row>.offset-2 {
    margin-left: var(--col-2-width) !important;
}

.row>.offset-4 {
    margin-left: var(--col-2-width) !important;
}

.row>.offset-3 {
    margin-left: var(--col-3-width) !important;
}

.row>.offset-4 {
    margin-left: var(--col-4-width) !important;
}

.row>.offset-5 {
    margin-left: var(--col-5-width) !important;
}

.row>.offset-6 {
    margin-left: var(--col-6-width) !important;
}

.row>.offset-7 {
    margin-left: var(--col-7-width) !important;
}

.row>.offset-8 {
    margin-left: var(--col-8-width) !important;
}

.row>.offset-9 {
    margin-left: var(--col-9-width) !important;
}

.row>.offset-10 {
    margin-left: var(--col-10-width) !important;
}

.row>.offset-11 {
    margin-left: var(--col-11-width) !important;
}

.hide-default {
    display: none !important;
}

/* ##### For Only PC/Laptop ##### */
@media only screen and (min-width: 1024px) {

    .row>.border-between {
        border-left: 1px solid #000;
    }

    .row>.col.border-between:first-child,
    .row>.col-1.border-between:first-child,
    .row>.col-2.border-between:first-child,
    .row>.col-2-4.border-between:first-child,
    .row>.col-3.border-between:first-child,
    .row>.col-4.border-between:first-child,
    .row>.col-5.border-between:first-child,
    .row>.col-6.border-between:first-child,
    .row>.col-7.border-between,
    .row>.col-8.border-between,
    .row>.col-9.border-between,
    .row>.col-10.border-between,
    .row>.col-11.border-between,
    .row>.col-12.border-between,
    .row>.col-1.border-between:nth-of-type(12n+1),
    .row>.col-2.border-between:nth-of-type(6n+1),
    .row>.col-2-4.border-between:nth-of-type(5n+1),
    .row>.col-3.border-between:nth-of-type(4n+1),
    .row>.col-4.border-between:nth-of-type(3n+1),
    .row>.col-5.border-between:nth-of-type(2n+1),
    .row>.col-6.border-between:nth-of-type(2n+1) {
        border: none;
    }
}

/* ##### For Only PC/Laptop Low Resolution ##### */
@media only screen and (min-width: 1024px) and (max-width: 1239px) {
    .container {
        width: 984px !important;
    }

    .row.gutter>.col,
    .row.gutter>.col-xl-1,
    .row.gutter>.col-xl-2,
    .row.gutter>.col-xl-2-4,
    .row.gutter>.col-xl-3,
    .row.gutter>.col-xl-4,
    .row.gutter>.col-xl-5,
    .row.gutter>.col-xl-6,
    .row.gutter>.col-xl-7,
    .row.gutter>.col-xl-8,
    .row.gutter>.col-xl-9,
    .row.gutter>.col-xl-10,
    .row.gutter>.col-xl-11,
    .row.gutter>.col-xl-12 {
        padding: 0 var(--gutter);
        margin: var(--gutter) 0;
    }

    .row.gutter {
        margin-left: calc(var(--gutter) * -1);
        margin-right: calc(var(--gutter) * -1);
    }

    .row>.col,
    .row>.col-xl-1,
    .row>.col-xl-2,
    .row>.col-xl-2-4,
    .row>.col-xl-3,
    .row>.col-xl-4,
    .row>.col-xl-5,
    .row>.col-xl-6,
    .row>.col-xl-7,
    .row>.col-xl-8,
    .row>.col-xl-9,
    .row>.col-xl-10,
    .row>.col-xl-11,
    .row>.col-xl-12 {
        display: block;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }

    .row>.col-xl-hidden {
        display: none !important;
    }

    .row>.col-xl-1 {
        -webkit-box-flex: 0 !important;
            -ms-flex: 0 0 var(--col-1-width) !important;
                flex: 0 0 var(--col-1-width) !important;
        max-width: var(--col-1-width) !important;
    }

    .row>.col-xl-2 {
        -webkit-box-flex: 0 !important;
            -ms-flex: 0 0 var(--col-2-width) !important;
                flex: 0 0 var(--col-2-width) !important;
        max-width: var(--col-2-width) !important;
    }

    .row>.col-xl-2-4 {
        -webkit-box-flex: 0 !important;
            -ms-flex: 0 0 var(--col-2-4-width) !important;
                flex: 0 0 var(--col-2-4-width) !important;
        max-width: var(--col-2-4-width) !important;
    }

    .row>.col-xl-3 {
        -webkit-box-flex: 0 !important;
            -ms-flex: 0 0 var(--col-3-width) !important;
                flex: 0 0 var(--col-3-width) !important;
        max-width: var(--col-3-width) !important;
    }

    .row>.col-xl-4 {
        -webkit-box-flex: 0 !important;
            -ms-flex: 0 0 var(--col-4-width) !important;
                flex: 0 0 var(--col-4-width) !important;
        max-width: var(--col-4-width) !important;
    }

    .row>.col-xl-5 {
        -webkit-box-flex: 0 !important;
            -ms-flex: 0 0 var(--col-5-width) !important;
                flex: 0 0 var(--col-5-width) !important;
        max-width: var(--col-5-width) !important;
    }

    .row>.col-xl-6 {
        -webkit-box-flex: 0 !important;
            -ms-flex: 0 0 var(--col-6-width) !important;
                flex: 0 0 var(--col-6-width) !important;
        max-width: var(--col-6-width) !important;
    }

    .row>.col-xl-7 {
        -webkit-box-flex: 0 !important;
            -ms-flex: 0 0 var(--col-7-width) !important;
                flex: 0 0 var(--col-7-width) !important;
        max-width: var(--col-7-width) !important;
    }

    .row>.col-xl-8 {
        -webkit-box-flex: 0 !important;
            -ms-flex: 0 0 var(--col-8-width) !important;
                flex: 0 0 var(--col-8-width) !important;
        max-width: var(--col-8-width) !important;
    }

    .row>.col-xl-9 {
        -webkit-box-flex: 0 !important;
            -ms-flex: 0 0 var(--col-9-width) !important;
                flex: 0 0 var(--col-9-width) !important;
        max-width: var(--col-9-width) !important;
    }

    .row>.col-xl-10 {
        -webkit-box-flex: 0 !important;
            -ms-flex: 0 0 var(--col-10-width) !important;
                flex: 0 0 var(--col-10-width) !important;
        max-width: var(--col-10-width) !important;
    }

    .row>.col-xl-11 {
        -webkit-box-flex: 0 !important;
            -ms-flex: 0 0 var(--col-11-width) !important;
                flex: 0 0 var(--col-11-width) !important;
        max-width: var(--col-11-width) !important;
    }

    .row>.col-xl-12 {
        -webkit-box-flex: 0 !important;
            -ms-flex: 0 0 var(--col-12-width) !important;
                flex: 0 0 var(--col-12-width) !important;
        max-width: var(--col-12-width) !important;
    }

    .row>.offset-xl-1 {
        margin-left: var(--col-1-width) !important;
    }

    .row>.offset-xl-2 {
        margin-left: var(--col-2-width) !important;
    }

    .row>.offset-xl-4 {
        margin-left: var(--col-2-width) !important;
    }

    .row>.offset-xl-3 {
        margin-left: var(--col-3-width) !important;
    }

    .row>.offset-xl-4 {
        margin-left: var(--col-4-width) !important;
    }

    .row>.offset-xl-5 {
        margin-left: var(--col-5-width) !important;
    }

    .row>.offset-xl-6 {
        margin-left: var(--col-6-width) !important;
    }

    .row>.offset-xl-7 {
        margin-left: var(--col-7-width) !important;
    }

    .row>.offset-xl-8 {
        margin-left: var(--col-8-width) !important;
    }

    .row>.offset-xl-9 {
        margin-left: var(--col-9-width) !important;
    }

    .row>.offset-xl-10 {
        margin-left: var(--col-10-width) !important;
    }

    .row>.offset-xl-11 {
        margin-left: var(--col-11-width) !important;
    }

    .hide-only-xl {
        display: none !important;
    }

    .show-only-xl {
        display: none !important;
    }

    .row>.border-between {
        border-left: 1px solid #000;
    }

    .row>.col-xl.border-between:first-child,
    .row>.col-xl-1.border-between:first-child,
    .row>.col-xl-2.border-between:first-child,
    .row>.col-xl-2-4.border-between:first-child,
    .row>.col-xl-3.border-between:first-child,
    .row>.col-xl-4.border-between:first-child,
    .row>.col-xl-5.border-between:first-child,
    .row>.col-xl-6.border-between:first-child,
    .row>.col-xl-7.border-between,
    .row>.col-xl-8.border-between,
    .row>.col-xl-9.border-between,
    .row>.col-xl-10.border-between,
    .row>.col-xl-11.border-between,
    .row>.col-xl-12.border-between,
    .row>.col-xl-1.border-between:nth-of-type(12n+1),
    .row>.col-xl-2.border-between:nth-of-type(6n+1),
    .row>.col-xl-2-4.border-between:nth-of-type(5n+1),
    .row>.col-xl-3.border-between:nth-of-type(4n+1),
    .row>.col-xl-4.border-between:nth-of-type(3n+1),
    .row>.col-xl-5.border-between:nth-of-type(2n+1),
    .row>.col-xl-6.border-between:nth-of-type(2n+1) {
        border: none;
    }
}

/* ##### For Mobile - Tablet ##### */
@media only screen and (max-width: 1024px) {}

/* ##### For Only Tablet ##### */
@media only screen and (min-width: 740px) and (max-width: 1024px) {
    .container {
        width: 644px !important;
    }

    .row.gutter>.col,
    .row.gutter>.col-lg-1,
    .row.gutter>.col-lg-2,
    .row.gutter>.col-lg-2-4,
    .row.gutter>.col-lg-3,
    .row.gutter>.col-lg-4,
    .row.gutter>.col-lg-5,
    .row.gutter>.col-lg-6,
    .row.gutter>.col-lg-7,
    .row.gutter>.col-lg-8,
    .row.gutter>.col-lg-9,
    .row.gutter>.col-lg-10,
    .row.gutter>.col-lg-11,
    .row.gutter>.col-lg-12 {
        padding: 0 var(--gutter);
        margin: var(--gutter) 0;
    }

    .row.gutter {
        margin-left: calc(var(--gutter) * -1);
        margin-right: calc(var(--gutter) * -1);
    }

    .row>.col,
    .row>.col-lg-1,
    .row>.col-lg-2,
    .row>.col-lg-2-4,
    .row>.col-lg-3,
    .row>.col-lg-4,
    .row>.col-lg-5,
    .row>.col-lg-6,
    .row>.col-lg-7,
    .row>.col-lg-8,
    .row>.col-lg-9,
    .row>.col-lg-10,
    .row>.col-lg-11,
    .row>.col-lg-12 {
        display: block;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }

    .row>.col-lg-hidden {
        display: none !important;
    }

    .row>.col-lg-1 {
        -webkit-box-flex: 0 !important;
            -ms-flex: 0 0 var(--col-1-width) !important;
                flex: 0 0 var(--col-1-width) !important;
        max-width: var(--col-1-width) !important;
    }

    .row>.col-lg-2 {
        -webkit-box-flex: 0 !important;
            -ms-flex: 0 0 var(--col-2-width) !important;
                flex: 0 0 var(--col-2-width) !important;
        max-width: var(--col-2-width) !important;
    }

    .row>.col-lg-2-4 {
        -webkit-box-flex: 0 !important;
            -ms-flex: 0 0 var(--col-2-4-width) !important;
                flex: 0 0 var(--col-2-4-width) !important;
        max-width: var(--col-2-4-width) !important;
    }

    .row>.col-lg-3 {
        -webkit-box-flex: 0 !important;
            -ms-flex: 0 0 var(--col-3-width) !important;
                flex: 0 0 var(--col-3-width) !important;
        max-width: var(--col-3-width) !important;
    }

    .row>.col-lg-4 {
        -webkit-box-flex: 0 !important;
            -ms-flex: 0 0 var(--col-4-width) !important;
                flex: 0 0 var(--col-4-width) !important;
        max-width: var(--col-4-width) !important;
    }

    .row>.col-lg-5 {
        -webkit-box-flex: 0 !important;
            -ms-flex: 0 0 var(--col-5-width) !important;
                flex: 0 0 var(--col-5-width) !important;
        max-width: var(--col-5-width) !important;
    }

    .row>.col-lg-6 {
        -webkit-box-flex: 0 !important;
            -ms-flex: 0 0 var(--col-6-width) !important;
                flex: 0 0 var(--col-6-width) !important;
        max-width: var(--col-6-width) !important;
    }

    .row>.col-lg-7 {
        -webkit-box-flex: 0 !important;
            -ms-flex: 0 0 var(--col-7-width) !important;
                flex: 0 0 var(--col-7-width) !important;
        max-width: var(--col-7-width) !important;
    }

    .row>.col-lg-8 {
        -webkit-box-flex: 0 !important;
            -ms-flex: 0 0 var(--col-8-width) !important;
                flex: 0 0 var(--col-8-width) !important;
        max-width: var(--col-8-width) !important;
    }

    .row>.col-lg-9 {
        -webkit-box-flex: 0 !important;
            -ms-flex: 0 0 var(--col-9-width) !important;
                flex: 0 0 var(--col-9-width) !important;
        max-width: var(--col-9-width) !important;
    }

    .row>.col-lg-10 {
        -webkit-box-flex: 0 !important;
            -ms-flex: 0 0 var(--col-10-width) !important;
                flex: 0 0 var(--col-10-width) !important;
        max-width: var(--col-10-width) !important;
    }

    .row>.col-lg-11 {
        -webkit-box-flex: 0 !important;
            -ms-flex: 0 0 var(--col-11-width) !important;
                flex: 0 0 var(--col-11-width) !important;
        max-width: var(--col-11-width) !important;
    }

    .row>.col-lg-12 {
        -webkit-box-flex: 0 !important;
            -ms-flex: 0 0 var(--col-12-width) !important;
                flex: 0 0 var(--col-12-width) !important;
        max-width: var(--col-12-width) !important;
    }

    .row>.offset-lg-1 {
        margin-left: var(--col-1-width) !important;
    }

    .row>.offset-lg-2 {
        margin-left: var(--col-2-width) !important;
    }

    .row>.offset-lg-4 {
        margin-left: var(--col-2-width) !important;
    }

    .row>.offset-lg-3 {
        margin-left: var(--col-3-width) !important;
    }

    .row>.offset-lg-4 {
        margin-left: var(--col-4-width) !important;
    }

    .row>.offset-lg-5 {
        margin-left: var(--col-5-width) !important;
    }

    .row>.offset-lg-6 {
        margin-left: var(--col-6-width) !important;
    }

    .row>.offset-lg-7 {
        margin-left: var(--col-7-width) !important;
    }

    .row>.offset-lg-8 {
        margin-left: var(--col-8-width) !important;
    }

    .row>.offset-lg-9 {
        margin-left: var(--col-9-width) !important;
    }

    .row>.offset-lg-10 {
        margin-left: var(--col-10-width) !important;
    }

    .row>.offset-lg-11 {
        margin-left: var(--col-11-width) !important;
    }

    .hide-only-lg {
        display: none !important;
    }

    .show-only-lg {
        display: none !important;
    }

    .row>.border-between {
        border-left: 1px solid #000;
    }

    .row>.col-lg.border-between:first-child,
    .row>.col-lg-1.border-between:first-child,
    .row>.col-lg-2.border-between:first-child,
    .row>.col-lg-2-4.border-between:first-child,
    .row>.col-lg-3.border-between:first-child,
    .row>.col-lg-4.border-between:first-child,
    .row>.col-lg-5.border-between:first-child,
    .row>.col-lg-6.border-between:first-child,
    .row>.col-lg-7.border-between,
    .row>.col-lg-8.border-between,
    .row>.col-lg-9.border-between,
    .row>.col-lg-10.border-between,
    .row>.col-lg-11.border-between,
    .row>.col-lg-12.border-between,
    .row>.col-lg-1.border-between:nth-of-type(12n+1),
    .row>.col-lg-2.border-between:nth-of-type(6n+1),
    .row>.col-lg-2-4.border-between:nth-of-type(5n+1),
    .row>.col-lg-3.border-between:nth-of-type(4n+1),
    .row>.col-lg-4.border-between:nth-of-type(3n+1),
    .row>.col-lg-5.border-between:nth-of-type(2n+1),
    .row>.col-lg-6.border-between:nth-of-type(2n+1) {
        border: none;
    }
}

/* ##### For Only Medium Mobile ##### */
@media only screen and (max-width: 740px) {
    .container {
        width: 577px !important;
        margin: 0 auto !important;
    }

    .row.gutter>.col,
    .row.gutter>.col-md-1,
    .row.gutter>.col-md-2,
    .row.gutter>.col-md-2-4,
    .row.gutter>.col-md-3,
    .row.gutter>.col-md-4,
    .row.gutter>.col-md-5,
    .row.gutter>.col-md-6,
    .row.gutter>.col-md-7,
    .row.gutter>.col-md-8,
    .row.gutter>.col-md-9,
    .row.gutter>.col-md-10,
    .row.gutter>.col-md-11,
    .row.gutter>.col-md-12 {
        padding: 0 var(--gutter);
        margin: var(--gutter) 0;
    }

    .row.gutter {
        margin-left: calc(var(--gutter) * -1);
        margin-right: calc(var(--gutter) * -1);
    }

    .row>.col,
    .row>.col-md-1,
    .row>.col-md-2,
    .row>.col-md-2-4,
    .row>.col-md-3,
    .row>.col-md-4,
    .row>.col-md-5,
    .row>.col-md-6,
    .row>.col-md-7,
    .row>.col-md-8,
    .row>.col-md-9,
    .row>.col-md-10,
    .row>.col-md-11,
    .row>.col-md-12 {
        display: block;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }

    .row>.col-md-hidden {
        display: none !important;
    }

    .row>.col-md-1 {
        -webkit-box-flex: 0 !important;
            -ms-flex: 0 0 var(--col-1-width) !important;
                flex: 0 0 var(--col-1-width) !important;
        max-width: var(--col-1-width) !important;
    }

    .row>.col-md-2 {
        -webkit-box-flex: 0 !important;
            -ms-flex: 0 0 var(--col-2-width) !important;
                flex: 0 0 var(--col-2-width) !important;
        max-width: var(--col-2-width) !important;
    }

    .row>.col-md-2-4 {
        -webkit-box-flex: 0 !important;
            -ms-flex: 0 0 var(--col-2-4-width) !important;
                flex: 0 0 var(--col-2-4-width) !important;
        max-width: var(--col-2-4-width) !important;
    }

    .row>.col-md-3 {
        -webkit-box-flex: 0 !important;
            -ms-flex: 0 0 var(--col-3-width) !important;
                flex: 0 0 var(--col-3-width) !important;
        max-width: var(--col-3-width) !important;
    }

    .row>.col-md-4 {
        -webkit-box-flex: 0 !important;
            -ms-flex: 0 0 var(--col-4-width) !important;
                flex: 0 0 var(--col-4-width) !important;
        max-width: var(--col-4-width) !important;
    }

    .row>.col-md-5 {
        -webkit-box-flex: 0 !important;
            -ms-flex: 0 0 var(--col-5-width) !important;
                flex: 0 0 var(--col-5-width) !important;
        max-width: var(--col-5-width) !important;
    }

    .row>.col-md-6 {
        -webkit-box-flex: 0 !important;
            -ms-flex: 0 0 var(--col-6-width) !important;
                flex: 0 0 var(--col-6-width) !important;
        max-width: var(--col-6-width) !important;
    }

    .row>.col-md-7 {
        -webkit-box-flex: 0 !important;
            -ms-flex: 0 0 var(--col-7-width) !important;
                flex: 0 0 var(--col-7-width) !important;
        max-width: var(--col-7-width) !important;
    }

    .row>.col-md-8 {
        -webkit-box-flex: 0 !important;
            -ms-flex: 0 0 var(--col-8-width) !important;
                flex: 0 0 var(--col-8-width) !important;
        max-width: var(--col-8-width) !important;
    }

    .row>.col-md-9 {
        -webkit-box-flex: 0 !important;
            -ms-flex: 0 0 var(--col-9-width) !important;
                flex: 0 0 var(--col-9-width) !important;
        max-width: var(--col-9-width) !important;
    }

    .row>.col-md-10 {
        -webkit-box-flex: 0 !important;
            -ms-flex: 0 0 var(--col-10-width) !important;
                flex: 0 0 var(--col-10-width) !important;
        max-width: var(--col-10-width) !important;
    }

    .row>.col-md-11 {
        -webkit-box-flex: 0 !important;
            -ms-flex: 0 0 var(--col-11-width) !important;
                flex: 0 0 var(--col-11-width) !important;
        max-width: var(--col-11-width) !important;
    }

    .row>.col-md-12 {
        -webkit-box-flex: 0 !important;
            -ms-flex: 0 0 var(--col-12-width) !important;
                flex: 0 0 var(--col-12-width) !important;
        max-width: var(--col-12-width) !important;
    }

    .row>.offset-md-1 {
        margin-left: var(--col-1-width) !important;
    }

    .row>.offset-md-2 {
        margin-left: var(--col-2-width) !important;
    }

    .row>.offset-md-4 {
        margin-left: var(--col-2-width) !important;
    }

    .row>.offset-md-3 {
        margin-left: var(--col-3-width) !important;
    }

    .row>.offset-md-4 {
        margin-left: var(--col-4-width) !important;
    }

    .row>.offset-md-5 {
        margin-left: var(--col-5-width) !important;
    }

    .row>.offset-md-6 {
        margin-left: var(--col-6-width) !important;
    }

    .row>.offset-md-7 {
        margin-left: var(--col-7-width) !important;
    }

    .row>.offset-md-8 {
        margin-left: var(--col-8-width) !important;
    }

    .row>.offset-md-9 {
        margin-left: var(--col-9-width) !important;
    }

    .row>.offset-md-10 {
        margin-left: var(--col-10-width) !important;
    }

    .row>.offset-md-11 {
        margin-left: var(--col-11-width) !important;
    }

    .hide-only-md {
        display: none !important;
    }

    .show-only-md {
        display: none !important;
    }

    .row>.border-between {
        border-left: 1px solid #000;
    }

    .row>.col-md-12.border-between {
        border-top: 1px solid #000;
    }

    .row>.col-md.border-between:first-child,
    .row>.col-md-1.border-between:first-child,
    .row>.col-md-2.border-between:first-child,
    .row>.col-md-2-4.border-between:first-child,
    .row>.col-md-3.border-between:first-child,
    .row>.col-md-4.border-between:first-child,
    .row>.col-md-5.border-between:first-child,
    .row>.col-md-6.border-between:first-child,
    .row>.col-md-7.border-between,
    .row>.col-md-8.border-between,
    .row>.col-md-9.border-between,
    .row>.col-md-10.border-between,
    .row>.col-md-11.border-between,
    .row>.col-md-12.border-between:first-child,
    .row>.col-md-1.border-between:nth-of-type(12n+1),
    .row>.col-md-2.border-between:nth-of-type(6n+1),
    .row>.col-md-2-4.border-between:nth-of-type(5n+1),
    .row>.col-md-3.border-between:nth-of-type(4n+1),
    .row>.col-md-4.border-between:nth-of-type(3n+1),
    .row>.col-md-5.border-between:nth-of-type(2n+1),
    .row>.col-md-6.border-between:nth-of-type(2n+1) {
        border: none;
    }
}

/* ##### For Only Small Mobile ##### */
@media only screen and (max-width: 577px) {
    .container {
        width: 100% !important;
        margin: unset !important;
    }

    .row.gutter>.col,
    .row.gutter>.col-sm-1,
    .row.gutter>.col-sm-2,
    .row.gutter>.col-sm-2-4,
    .row.gutter>.col-sm-3,
    .row.gutter>.col-sm-4,
    .row.gutter>.col-sm-5,
    .row.gutter>.col-sm-6,
    .row.gutter>.col-sm-7,
    .row.gutter>.col-sm-8,
    .row.gutter>.col-sm-9,
    .row.gutter>.col-sm-10,
    .row.gutter>.col-sm-11,
    .row.gutter>.col-sm-12 {
        padding: var(--gutter) 0;
        margin: 0 var(--gutter);
    }

    .row.gutter {
        margin-left: calc(var(--gutter) * -1);
        margin-right: calc(var(--gutter) * -1);
    }

    .row>.col,
    .row>.col-sm-1,
    .row>.col-sm-2,
    .row>.col-sm-2-4,
    .row>.col-sm-3,
    .row>.col-sm-4,
    .row>.col-sm-5,
    .row>.col-sm-6,
    .row>.col-sm-7,
    .row>.col-sm-8,
    .row>.col-sm-9,
    .row>.col-sm-10,
    .row>.col-sm-11,
    .row>.col-sm-12 {
        display: block;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }

    .row>.col-sm-hidden {
        display: none !important;
    }

    .row>.col-sm-1 {
        -webkit-box-flex: 0 !important;
            -ms-flex: 0 0 var(--col-1-width) !important;
                flex: 0 0 var(--col-1-width) !important;
        max-width: var(--col-1-width) !important;
    }

    .row>.col-sm-2 {
        -webkit-box-flex: 0 !important;
            -ms-flex: 0 0 var(--col-2-width) !important;
                flex: 0 0 var(--col-2-width) !important;
        max-width: var(--col-2-width) !important;
    }

    .row>.col-sm-2-4 {
        -webkit-box-flex: 0 !important;
            -ms-flex: 0 0 var(--col-2-4-width) !important;
                flex: 0 0 var(--col-2-4-width) !important;
        max-width: var(--col-2-4-width) !important;
    }

    .row>.col-sm-3 {
        -webkit-box-flex: 0 !important;
            -ms-flex: 0 0 var(--col-3-width) !important;
                flex: 0 0 var(--col-3-width) !important;
        max-width: var(--col-3-width) !important;
    }

    .row>.col-sm-4 {
        -webkit-box-flex: 0 !important;
            -ms-flex: 0 0 var(--col-4-width) !important;
                flex: 0 0 var(--col-4-width) !important;
        max-width: var(--col-4-width) !important;
    }

    .row>.col-sm-5 {
        -webkit-box-flex: 0 !important;
            -ms-flex: 0 0 var(--col-5-width) !important;
                flex: 0 0 var(--col-5-width) !important;
        max-width: var(--col-5-width) !important;
    }

    .row>.col-sm-6 {
        -webkit-box-flex: 0 !important;
            -ms-flex: 0 0 var(--col-6-width) !important;
                flex: 0 0 var(--col-6-width) !important;
        max-width: var(--col-6-width) !important;
    }

    .row>.col-sm-7 {
        -webkit-box-flex: 0 !important;
            -ms-flex: 0 0 var(--col-7-width) !important;
                flex: 0 0 var(--col-7-width) !important;
        max-width: var(--col-7-width) !important;
    }

    .row>.col-sm-8 {
        -webkit-box-flex: 0 !important;
            -ms-flex: 0 0 var(--col-8-width) !important;
                flex: 0 0 var(--col-8-width) !important;
        max-width: var(--col-8-width) !important;
    }

    .row>.col-sm-9 {
        -webkit-box-flex: 0 !important;
            -ms-flex: 0 0 var(--col-9-width) !important;
                flex: 0 0 var(--col-9-width) !important;
        max-width: var(--col-9-width) !important;
    }

    .row>.col-sm-10 {
        -webkit-box-flex: 0 !important;
            -ms-flex: 0 0 var(--col-10-width) !important;
                flex: 0 0 var(--col-10-width) !important;
        max-width: var(--col-10-width) !important;
    }

    .row>.col-sm-11 {
        -webkit-box-flex: 0 !important;
            -ms-flex: 0 0 var(--col-11-width) !important;
                flex: 0 0 var(--col-11-width) !important;
        max-width: var(--col-11-width) !important;
    }

    .row>.col-sm-12 {
        -webkit-box-flex: 0 !important;
            -ms-flex: 0 0 var(--col-12-width) !important;
                flex: 0 0 var(--col-12-width) !important;
        max-width: var(--col-12-width) !important;
    }

    .row>.offset-sm-1 {
        margin-left: var(--col-1-width) !important;
    }

    .row>.offset-sm-2 {
        margin-left: var(--col-2-width) !important;
    }

    .row>.offset-sm-4 {
        margin-left: var(--col-2-width) !important;
    }

    .row>.offset-sm-3 {
        margin-left: var(--col-3-width) !important;
    }

    .row>.offset-sm-4 {
        margin-left: var(--col-4-width) !important;
    }

    .row>.offset-sm-5 {
        margin-left: var(--col-5-width) !important;
    }

    .row>.offset-sm-6 {
        margin-left: var(--col-6-width) !important;
    }

    .row>.offset-sm-7 {
        margin-left: var(--col-7-width) !important;
    }

    .row>.offset-sm-8 {
        margin-left: var(--col-8-width) !important;
    }

    .row>.offset-sm-9 {
        margin-left: var(--col-9-width) !important;
    }

    .row>.offset-sm-10 {
        margin-left: var(--col-10-width) !important;
    }

    .row>.offset-sm-11 {
        margin-left: var(--col-11-width) !important;
    }

    .hide-only-sm {
        display: none !important;
    }

    .show-only-sm {
        display: none !important;
    }

    .row>.border-between {
        border-left: 1px solid #000;
    }

    .row>.col-sm-12.border-between {
        border-top: 1px solid #000;
    }

    .row>.col-sm.border-between:first-child,
    .row>.col-sm-1.border-between:first-child,
    .row>.col-sm-2.border-between:first-child,
    .row>.col-sm-2-4.border-between:first-child,
    .row>.col-sm-3.border-between:first-child,
    .row>.col-sm-4.border-between:first-child,
    .row>.col-sm-5.border-between:first-child,
    .row>.col-sm-6.border-between:first-child,
    .row>.col-sm-7.border-between,
    .row>.col-sm-8.border-between,
    .row>.col-sm-9.border-between,
    .row>.col-sm-10.border-between,
    .row>.col-sm-11.border-between,
    .row>.col-sm-12.border-between:first-child,
    .row>.col-sm-1.border-between:nth-of-type(12n+1),
    .row>.col-sm-2.border-between:nth-of-type(6n+1),
    .row>.col-sm-2-4.border-between:nth-of-type(5n+1),
    .row>.col-sm-3.border-between:nth-of-type(4n+1),
    .row>.col-sm-4.border-between:nth-of-type(3n+1),
    .row>.col-sm-5.border-between:nth-of-type(2n+1),
    .row>.col-sm-6.border-between:nth-of-type(2n+1) {
        border: none;
    }
}


/* ##### Animation ##### */
@-webkit-keyframes fadeInOpacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
@keyframes fadeInOpacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes grow {
    from {
        -webkit-transform: scale(0);
                transform: scale(0);
    }

    to {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

@keyframes grow {
    from {
        -webkit-transform: scale(0);
                transform: scale(0);
    }

    to {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

.hide {
    display: none !important;
    opacity: 0 !important;
    visibility: hidden !important;
}

@media only screen and (max-width: 1239px) {
    .hide-on-xl {
        display: none !important;
        opacity: 0 !important;
        visibility: hidden !important;
    }
    .show-on-xl {
        display: unset !important;
        opacity: 1 !important;
        visibility: unset !important;
    }
}

@media only screen and (max-width: 1024px) {
    .hide-on-lg {
        display: none !important;
        opacity: 0 !important;
        visibility: hidden !important;
    }
    .show-on-lg {
        display: unset !important;
        opacity: 1 !important;
        visibility: unset !important;
    }
}

@media only screen and (max-width: 740px) {
    .hide-on-md {
        display: none !important;
        opacity: 0 !important;
        visibility: hidden !important;
    }
    .show-on-md {
        display: unset !important;
        opacity: 1 !important;
        visibility: unset !important;
    }
}

@media only screen and (max-width: 577px) {
    .hide-on-sm {
        display: none !important;
        opacity: 0 !important;
        visibility: hidden !important;
    }
    .show-on-sm {
        display: unset !important;
        opacity: 1 !important;
        visibility: unset !important;
    }
}



/* ##### Varible ##### */
:root {

    --gutter: 0;

    /* Grid */
    --col-1-width: calc((100% / 12));
    --col-2-width: calc((100% / 6));
    --col-2-4-width: calc((100% / 5));
    --col-3-width: calc(25%);
    --col-4-width: calc((100% / 3));
    --col-5-width: calc((100% / 2.4));
    --col-6-width: calc(50%);
    --col-7-width: calc((100% / 1.7142));
    --col-8-width: calc((100% / 1.5));
    --col-9-width: calc((100% / 1.33333));
    --col-10-width: calc((100% / 1.2));
    --col-11-width: calc((100% / 1.09090));
    --col-12-width: calc(100%);

    /* --Color */
    --blue: #0d6efd;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #d63384;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #198754;
    --teal: #20c997;
    --cyan: #0dcaf0;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #0d6efd;
    --secondary: #6c757d;
    --success: #198754;
    --info: #0dcaf0;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #212529;
}