.bg-first {
    position: relative;
    background: url(../../common/imgs/home-session-first-bg.jpg) no-repeat;
    width: 100%;
    --session-first-height: 450px;
    height: var(--session-first-height);
    background-size: cover !important;
    background-position: top center !important;
    z-index: -1 !important;
}

.slider-first {}

.slider-first-owl {
    position: relative;
    transform: translateY(-62%);
}

.option-promo {
    margin-top: -90px !important;
}

.option-promo-flex {
    display: flex;
    margin-left: -10px;
    margin-right: -10px;
}

.option-promo-item {
    height: 100px;
    background-color: var(--white);
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
}

.option-promo-item a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.option-promo-item img {
    width: 70px;
    height: 70px;
    object-fit: contain;
}

.option-promo-item span {
    margin-left: 10px;
    font-size: 2.2rem;
    color: var(--dark);
    line-height: 2.5rem;
}

.home-banner img {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    border-radius: 5px;
    overflow: hidden;
}

.home-banner-img {
    width: 100%;
    object-fit: contain;
}

/* ##### Product slider format ##### */
.product-silder-format .owl-nav {
    width: 100%;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
}

.product-silder-format .owl-carousel .owl-nav .owl-prev,
.product-silder-format .owl-carousel .owl-nav .owl-next {
    position: absolute;
    font-size: 2.5rem !important;
    background-color: var(--white) !important;
    opacity: .5;
    transition: .3s;
    color: var(--dark) !important;
    padding: 20px 7px !important;
}

.product-silder-format .owl-carousel .owl-nav .owl-prev:hover,
.product-silder-format .owl-carousel .owl-nav .owl-next:hover {
    opacity: 1;
}

.product-silder-format .owl-prev {
    left: -10px;
    border-radius: 0 4px 4px 0;
    box-shadow: 6px 0 4px rgb(0 0 0 / 5%), 4px 0 4px rgb(0 0 0 / 9%);
}

.product-silder-format .owl-nav .owl-next {
    right: -10px;
    border-radius: 4px 0 0 4px;
    box-shadow: -6px 0 4px rgb(0 0 0 / 5%), -4px 0 4px rgb(0 0 0 / 9%);
}

/* ##### Layout ##### */

.product-slider-view-more-btn {
    display: block;
    text-align: center;
    margin-top: 20px;
}

.product-slider-view-more-btn a {
    background-color: var(--white);
    text-decoration: none;
    color: var(--dark);
    padding: 12px 135px;
    font-size: 1.4rem;
    font-weight: 500;
    border-radius: 5px;
    line-height: 36px;
}

.product-slider-one-slider {
    width: 100%;
}

.product-slider-one-slider-wrap {
    border-radius: 10px;
    --product-slider-one-slider-owl-margin: 10px;
    padding-bottom: calc(var(--product-slider-one-slider-owl-margin) * 2);
}

.product-slider-one-slider-wrap > img {
    border-radius: 10px 10px 0 0;
}

.product-slider-one-slider-owl {
    position: relative;
    margin-left: var(--product-slider-one-slider-owl-margin);
    margin-right: var(--product-slider-one-slider-owl-margin);
    margin-top: var(--product-slider-one-slider-owl-margin);
    width: calc(100% - 20px);
}

.product-slider-one-slider-item {
    width: 100% !important;
    margin: 0 auto;
}

.oppo-slider {
    margin-top: 20px;
}

.oppo-slider-wrap .common__slider {
    padding: 10px;
}

.oppo-slider-wrap .product-slider-one-slider__title {
    text-align: center;
    font-size: 4rem;
    padding: 35px 0 25px;
    text-transform: uppercase;
    color: var(--white);

}

.oppo-slider-wrap .owl-carousel .owl-nav .owl-prev {
    left: -25px !important;
}

.oppo-slider-wrap .owl-carousel .owl-nav .owl-next {
    right: -25px !important;
}

.shopping-trends {
    background: linear-gradient(90deg, #ffecd2 0%, #fcb69f 100%);
}

.shopping-trends .common-grid__heading a {
    color: var(--white);
}

.shopping-trends__item {
    position: relative;
    width: 23.5%;
}

.shopping-trends__item p {
    position: absolute;
    top: 160px;
    left: 20px;
    font-size: 2rem;
    color: var(--dark);
}

.shopping-trends__item span {
    position: absolute;
    top: 195px;
    left: 20px;
    font-size: 1.7rem;
    color: var(--primary);
}

.hightlight-category-wrap {
    margin-top: 20px;
}

.hightlight-category {
 background-color: var(--white);
 border-radius: 10px;
 overflow: hidden;
 padding: 20px;
}

.hightlight-category__title {
    color: var(--dark);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2rem;
    margin: 10px 0;
}

.hightlight-category__grid {
    display: inline-grid;
    grid-template-columns: repeat(10, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: 10px 40px 30px 40px;
}

.hightlight-category__item a {
    width: 100%;
    text-align: center;
    text-decoration: none;
}

.hightlight-category__item img {
    width: 60px;
    height: 60px;
    display: flex;
    margin: 0 auto;
}

.hightlight-category__item p {
    font-size: 1.3rem;
    color: var(--dark);
    margin-top: 5px;
}

.common-wrap {
    margin-top: 20px;
}

.common {

}

.common__title {
    text-transform: uppercase;
    color: var(--dark);
    font-size: 2.3rem;
    font-weight: 500;
    padding: 20px 0; 
}

.common__slider {

}

.common__slider-owl {

}

.common__slider-owl-item {
    border-radius: 10px;
    overflow: hidden;
}


.common__slider .owl-carousel .owl-nav .owl-prev,
.common__slider .owl-carousel .owl-nav .owl-next {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem !important;
    border-radius: 50%;
}

.common__slider .owl-carousel .owl-nav .owl-prev {
    left: -20px;
    filter: drop-shadow(0 4px 7px rgba(0, 0, 0, .15));
}

.common__slider .owl-carousel .owl-nav .owl-next {
    right: -20px;
    filter: drop-shadow(0 4px 7px rgba(0, 0, 0, .15));
}

.common-grid-wrap {
    margin-top: 20px;
}

.common-grid {
    background-color: var(--white);
    border-radius: 10px;
    padding: 20px;
}

.common-grid__heading {
    display: flex;
    justify-content: space-between;
}

.common-grid__heading h2 {
    text-transform: uppercase;
    font-size: 2.2rem;
}

.common-grid__heading a {
    text-transform: uppercase;
    color: var(--gray);
    font-size: 1.6rem;
    text-decoration: none;
}

.common-grid__flex {
    display: flex;
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
    justify-content: space-between;
}

.service__item {
    width: 23.5%;
    display: block;
    padding: 20px 10px;
    border-radius: 10px;
}

.service__item:last-child {
    margin-right: unset;
}

.service__item:nth-child(1) {
    background-color: #dceeff;
}

.service__item:nth-child(2) {
    background-color: #fef5cf;
}

.service__item:nth-child(3) {
    background-color: #ffefdb;
}

.service__item:nth-child(4) {
    background-color: #e1fecf;
}

.service__item a {
    text-decoration: none;
}

.service__first {
    display: flex;
    align-items: center;
}

.service__first i {
    justify-self: unset;
}

.service__first p {
    margin-left: 10px;
    font-size: 1.9rem;
    color: var(--dark);
}

.service__second {
    margin-left: 48px;
    margin-top: 10px;
    font-size: 1.8rem;
    color: var(--dark);
    line-height: 1.2;
}

.service__text--hightlight {
    color: var(--danger);
    font-weight: 500;
    font-size: 1.9rem;
}

.today-suggestions-wrap {
    margin-top: 20px;
}

.today-suggestions {

}

.today-suggestions__title {
    text-transform: uppercase;
    padding: 20px 0;
    font-size: 2.2rem;
}

.today-suggestions__tabs-controls {
    display: flex;
    margin-left: -10px;
    margin-right: -10px;
}

.today-suggestions__tabs-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    background-color: var(--white);
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
}

.today-suggestions__tabs-item img {
    width: 50px;
    height: 50px;
}

.today-suggestions__tabs-item span {
    margin-left: 10px;
    font-size: 1.8rem;
}

.today-suggestions__tabs-item--active {
    background: linear-gradient(64.85deg,#fca600 23.67%,#ffd41d 106.12%);
}
.today-suggestions__contents {

}

.today-suggestions__content {
    opacity: 0;
    pointer-events: none;
    display: none !important;
    margin: 10px -5px;
}

.today-suggestions__content--active {
    opacity: 1;
    pointer-events: all;
    display: flex !important;
    animation: inOpacity ease-in-out .5s;
}

.today-suggestions__content--hide-effect {
    animation: outOpacity ease-out .4s;
}

.today-suggestions__content-item {
    padding: 8px;
}

.today-suggestions .product-box-wrap {
    margin: 0 0px;
}

.today-suggestions-view-more-btn {
    display: block;
    text-align: center;
}

.today-suggestions-view-more-btn a {
    background-color: var(--white);
    text-decoration: none;
    color: var(--dark);
    padding: 12px 135px;
    font-size: 1.4rem;
    font-weight: 500;
    border-radius: 5px;
    line-height: 36px;
}

.news-technology__item {
    
    width: 24%;

    display: block;
}

.news-technology__item a {
    text-decoration: none;
}

.news-technology__item img {
    width: 100%;
    height: 155px;
    object-fit: cover;
    background-position: center;
    border-radius: 10px;
    overflow: hidden;
}

.news-technology__item span {
    font-size: 1.6rem;
    line-height: 26px;
    height: 50px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    color: var(--dark);
}

@media only screen and (max-width: 1239px) {
    .bg-first {
        --session-first-height: 404px;
    }

    .slider-first {
        margin-top: 12px;
    }

    .option-promo {
        margin-top: -70px !important;
    }

    .shopping-trends__item p {
        top: 130px;
    }

    .shopping-trends__item span {
        top: 155px;
    }

    .hightlight-category__grid {
        margin: 0;
    }

    .service__second {
        margin-left: 3px;
    }
}

@media only screen and (max-width: 1024px) {
    .common-grid {
        padding: 20px 10px;
    }

    .slider-first {
        margin-top: 23px;
    }

    .option-promo {
        margin-top: -50px !important;
        background-color: var(--white);
        border-radius: 10px;
    }
    
    .option-promo-flex {
        padding: 10px;
    }

    .option-promo-item {
        height: auto;
        background: unset;
        margin: 0;
        text-align: center;
    }

    .option-promo-item a {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }

    .option-promo-item img {
        width: 50px;
        height: 50px;
    }

    .option-promo-item span {
        font-size: 1.3rem;
        margin-left: 0;
    }
 
    .common-grid__flex {
        margin-top: 20px;
        overflow: hidden;
        overflow-x: scroll;
    }

    .common-grid__flex::-webkit-scrollbar {
        display: none;
    }

    .shopping-trends__item {
        position: relative;
        min-width: 202px;
        margin-right: 10px;
    }

    .shopping-trends__item:last-child {
        margin-right: unset;
    }

    .shopping-trends__item p {
        top: 106px;;
        left: 10px;
    }
    .shopping-trends__item span {
        top: 129px;
        left: 10px;
        max-width: 180px;
    }

    .hightlight-category__grid {
        grid-template-columns: repeat(5, 1fr);
        margin: 10px 0 0 0;
    }

    .service__item {
        min-width: 275px;
        margin-right: 10px;    
    }

    .service__item:last-child {
        margin-right: unset;
    }

    .today-suggestions__tabs-item {
        margin-top: 20px;
    }

    .today-suggestions__tabs-controls {
        margin-top: -20px;
    }

    .news-technology__item {
        min-width: 307px;
        margin-right: 10px;
    }

    .oppo-slider-wrap .owl-carousel .owl-nav .owl-prev {
        left: -11px !important;
    }

    .oppo-slider-wrap .owl-carousel .owl-nav .owl-next {
        right: -11px !important;
    }
}

@media only screen and (max-width: 740px) {
    .bg-first {
        background: url(../../common/imgs/Big-hero-Mo-720x1100.jpg) no-repeat;
        --session-first-height: 600px;
        width: 100%;
        max-width: 100%;
        background-size: cover;
        background-position: center top;
    }

    .slider-first {
        margin-top: 2.5%;
        margin-left: -3px;
    }

    .worldcup-slider {
        margin-top: 33px;
    }

    .product-box {
        height: 450px;
    }

    .shopping-trends__item {
        min-width: 253px;
    }

    .shopping-trends__item p {
        top: 155px;
    }

    .shopping-trends__item span {
        top: 183px;
        max-width: unset;
    }

    .oppo-slider-wrap .common__slider {
        padding: 0px;
    }

    .common__slider .owl-carousel .owl-nav .owl-prev {
        left: -5px;
    }

    .common__slider .owl-carousel .owl-nav .owl-next {
        right: -5px;
    }

    .oppo-slider-wrap .owl-carousel .owl-nav .owl-prev {
        left: -7px !important;
    }
    
    .oppo-slider-wrap .owl-carousel .owl-nav .owl-next {
        right: -7px !important;
    }

    .today-suggestions__title {
        padding-left: 5px;
        padding-right: 5px;
    }
    .common-grid-wrap {
        margin-top: 20px !important;
        width: calc(100% - 20px);
        margin: 0 auto;
    }
}


@media only screen and (max-width: 577px) {
    .today-suggestions-wrap .container {
        width: calc(100% - 10px) !important;
    margin-left: auto !important;
    margin-right: auto !important;
    }

    .today-suggestions__tabs-controls {
    margin-left: -5px;
    margin-right: -5px;
    }

    .common__slider {
        width: 96%;
        margin: 0 auto;
    }

    .option-promo {
        margin-top: -66px !important;
        width: 96% !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .service__item {
        min-width: 241px;
    }

    .news-technology__item {
        min-width: 241px;
    }

    .common__title {
        padding-left: 10px;
        padding-right: 10px;
    }
}