@import url('https://site-assets.fontawesome.com/releases/v6.2.1/css/all.css');
@import url('../../common/styles/owl.carousel/owl.carousel.min.css');
/* @import url('../../common/styles/owl.carousel/owl.theme.default.min.css'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url(../../common/styles/animation.css);

html {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f3f3f3;
    overflow-x: hidden;
}

body.no-scroll {
    overflow: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.show-more-icon::after {
    content: '';
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border: 5px solid;
    border-color: var(--dark) transparent transparent transparent;
}

/* ##### Icon Global ##### */
[class^="iconGlobal-"], [class*="iconGlobal-"] {
    background-image: url(../../common/imgs/common-img.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    vertical-align: middle;
    background-size: 310px 257px;
}

[class^="icon-"], [class*="icon-"] {
    background-image: url(../../common/imgs/common-img-2.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    vertical-align: middle;
    background-size: 300px 200px;
}

[class^="iconlogo-"], [class*="iconlogo-"] {
    background-image: url(../../common/imgs/common-img-3.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 24px;
    width: 80px;
    line-height: 30px;
    vertical-align: middle;
    background-size: 250px 200px;
}

.icon-handle-cert {
    background-image: url(../../common/imgs/handle_cert.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 40px;
    width: 88px;
    background-size: 88px;
}

.iconGlobal-logo {
    background-position: 0 -176px;
    width: 228px;
    height: 40px;
}

.iconGlobal-cart {
    background-position: -48px 0;
    width: 25px;
    height: 24px;
}

.icon-facebook {
    background-position: -225px 0;
    height: 18px;
    width: 18px;
}

.icon-youtube {
    background-position: -200px 0;
    height: 18px;
    width: 18px;
}

.icon-zalo {
    background-image: url(../../common/imgs/icon_zalo.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 18px;
    width: 18px;
    background-size: contain;
}

.icon-congthuong {
    background-position: -200px -30px;
    height: 24px;
    width: 79px;
}

.icon-khieunai {
    background-position: -250px 0;
    height: 25px;
    width: 25px;
}

.icon-protected {
    background-position: -80px -60px;
    height: 24px;
    width: 122px;
}

.iconlogo-topzone {
    background-position: 0 -58px;
}

.iconlogo-dienmayxanh {
    background-position: -85px 0;
}

.iconlogo-bachhoaxanh {
    background-position: -170px 0;
}

.iconlogo-ankhang {
    background-position: -85px -90px;
}

.iconlogo-kids {
    background-position: -85px -120px;
}

.iconlogo-sport {
    background-position: 0 -29px;
}

.iconlogo-tantam {
    background-position: -170px -90px;
}

.iconlogo-4kfarm {
    background-position: 0 -90px;
}

.iconlogo-vieclam {
    background-position: 0 -120px;
}

.icon-search {
    background-position: -150px 0;
    height: 17px;
    width: 17px;
}

.iconGlobal-menu {
    background-position: -77px 0;
    width: 26px;
    height: 26px;
}

.iconGlobal-card {
    background-position: -273px -89px;
    width: 38px;
    height: 38px;
}

.iconGlobal-service {
    background-position: -273px -133px;
    width: 38px;
    height: 38px;
}

.iconGlobal-game {
    background-position: -272px -175px;
    width: 38px;
    height: 38px;
}

.iconGlobal-ticket {
    background-position: -273px -219px;
    width: 38px;
    height: 38px;
}

.close-symbol {
    background-color: #fff;
    left: 10px;
    height: 10px;
    position: absolute;
    top: 11px;
    width: 1px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.close-symbol::before {
    content: "";
    background-color: #fff;
    left: 0;
    height: 10px;
    position: absolute;
    top: 0;
    width: 1px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

/* ##### Header ##### */
#app {
    position: relative;
    overflow-x: hidden;
}

.header {}

.header__slider {
    position: relative;
}

.header__slider .owl-nav {
    position: absolute;
    top: 7px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    margin: 0 auto;
    width: 100%;
    height: 33px;
    max-width: 1200px;
}

.header__slider .owl-prev, .header__slider .owl-next {
    position: absolute;
    margin: 0 !important;
}

.header__slider .owl-prev:hover, .header__slider .owl-next:hover {
    background: unset !important;
}

.header__slider .owl-prev {
    left: 0;
}

.header__slider .owl-next {
    right: 0;
}

.header__slider .owl-prev i {}

.header__slider .owl-next i {}

.header__slider .owl-prev i,
.header__slider .owl-next i {
    font-size: 3rem;
    color: #666;
    -webkit-transition: .1s;
    -o-transition: .1s;
    transition: .1s;
}

.header__slider .owl-prev i:hover,
.header__slider .owl-next i:hover {
    color: #fff;
}

.header__second {
    width: 100%;
    --header-second-height: 60px;
    height: var(--header-second-height);
    background-color: var(--main-orange-color);
}

.header__second-flex {
    height: var(--header-second-height);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header__logo {}

.header__locaion {
    position: relative;
    min-width: 135px;
    height: 40px;
    background-color: var(--main-orange-color-2);
    border-radius: 3px;
    padding: 4px 6px 4px 10px;
    margin-left: 12px;
    cursor: pointer;
}

.header__location-panel {
    height: 40px;
    font-size: 1.1rem;
}

.header__locaion .show-more-icon::after {
    right: 8px;
}

.header__location-panel span {
    font-weight: bolder;
    display: -webkit-box;
}

.header__search {
    margin-left: 12px;
    height: 40px;
}

.header__search-form {
    position: relative;
    background-color: #fff;
    border-radius: 3px;
}

.header__search-input,
.header__search-btn {
    background-color: transparent;
    border: none;
}

.header__search-input {
    min-width: 302px;
    height: 32px;
    font-size: 1.2rem;
    padding: 20px 0 20px 10px;
}

.header__suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    font-size: 1.3rem;
    border-radius: 3px;
    border-top-left-radius: 0;
    -webkit-box-shadow: 0 1px 8px rgb(185, 185, 185);
    box-shadow: 0 1px 8px rgb(185, 185, 185);
    opacity: 0;
    pointer-events: none;
    z-index: 1;
}

.header__search-input:focus~.header__suggestions {
    opacity: 1;
    pointer-events: all;
}

.header__suggestions-title {
    padding: 7px 10px;
    background-color: rgba(0, 0, 0, .1);
    color: #666;
}

.header__suggestions-result {
    color: var(--primary);
    text-decoration: none;
    padding: 5px 10px;
}

.header__search-btn {
    width: 40px;
    height: 40px;
    font-size: 1.6rem;
    cursor: pointer;
}

.header__order-history {
    margin-left: 12px;
    width: 90px;
    background-color: var(--main-orange-color-2);
    border-radius: 3px;
}

.header__order-history-linked {
    padding: 4px 12px;
    font-size: 1.2rem;
    color: var(--dark);
    display: block;
    text-align: center;
    text-decoration: none;
}

.header__cart {
    margin-left: 12px;
    background-color: var(--main-orange-color-2);
    border-radius: 3px;
}

.header__cart-linked {
    padding: 8px 9px;
    font-size: 1.2rem;
    color: var(--dark);
    display: block;
    text-align: center;
    text-decoration: none;
}

.header__cart-linked span {
    margin-left: 5px;
    font-weight: bolder;
}

.header__services-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header__services-item {
    /* width: 80px; */
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 9px;
    color: var(--dark);
    font-size: 1.4rem;
    text-decoration: none;
    text-align: center;
    display: block;
}

.header__services-item:last-child {
    padding-right: 0;
}

.header__services-item:nth-of-type(2n) {
    border-left: 1px solid #ffe56c;
    border-right: 1px solid #ffe56c;
}

.header__bars-btn {
    cursor: pointer;
}

.header__navbar {
    --header__navbar-height: 60px;
    height: var(--header__navbar-height);
    background-color: var(--main-orange-color);
}

.header__navbar-flex {
    height: var(--header__navbar-height);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


.header__navbar-item {
    position: relative;
    padding: 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-decoration: none;
    color: var(--dark);
    font-size: 1.5rem;
    margin-left: 33.5px;
}

.header__navbar-item img {
    width: 20px;
    height: 20px;
}

.header__navbar-item:first-child {
    margin-left: unset;
}

.header__navbar-icon {
    width: 20px;
    height: 20px;
    margin-right: 3px;
}

.header__navbar-item span {
    /* font-weight: 500; */
}

.header__navbar-item span::after {
    right: -15px;
    -webkit-transform: translateY(-30%);
    -ms-transform: translateY(-30%);
    transform: translateY(-30%);
}

.footer {
    margin-top: 10px;
}

.footer__first {
    background-color: #fff;

}

.footer__first-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 15px 0;
}

.footer__first .col-first {
    width: 288px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.footer__first .col-first .show-more-icon::after {
    top: 10px;
    left: 70px;
    right: unset;
}

.footer__first .col-second {
    width: 288px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.footer__first .col-third {
    width: 276px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.footer__text {
    font-size: 1.4rem;
    margin: 7px 0;
}

.footer__text--bloder {
    font-weight: 500;
}

.footer__text--bloder-primary {
    font-weight: 500;
    color: var(--primary);
}

.footer__first .col-fourth {
    position: relative;
    width: 348px;
}

.footer__link {
    position: relative;
    display: inline;
    margin: 7px 0;
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--dark);
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

.footer__link:hover {
    color: var(--primary);
}

.footer__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer__sosical-item {}

.footer__sosical-item i {
    width: 20px;
    height: 20px;
}

.footer__sosical-item a {
    font-size: 1.4rem;
    color: var(--primary);
    text-decoration: none;
    margin-left: 5px;
}

.footer__certify {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
    margin-left: -5px;
    margin-right: -5px;
}

.footer__certify a {
    margin: 0 5px;
}

.footer__linked {
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.footer__linked-item {
    width: 22%;
    margin: 4px 5px;
}

.footer__coppyright {
    background-color: #f1f1f1;
}

.footer__coppyright-content {
    padding: 10px 0;
    display: block;
    font-size: 1.2rem;
    word-spacing: 0.1rem;
    color: var(--gray);
}

.footer__coppyright-content a {
    color: var(--primary);
    text-decoration: none;
}

#modal {
    position: fixed;
    opacity: 0;
    pointer-events: none;
    z-index: 1;
}

#modal.modal--active {
    opacity: 1;
    pointer-events: all;
}

.modal__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.modal__body {
    position: absolute;
    width: 80%;
    max-width: 500px;
    background-color: var(--white);
    border-radius: 5px;
    overflow: hidden;
    opacity: 0;
    -webkit-animation: outFadeInHeart ease-in-out 1s;
    animation: outFadeInHeart ease-in-out 1s;
}

#modal.modal--active .modal__body {
    opacity: 1;
    -webkit-animation: inFadeInHeart ease-in-out 1s;
    animation: inFadeInHeart ease-in-out 1s;
}

.modal__header {
    position: relative;
    background-color: var(--primary);
    padding: 10px;
}

.modal__header-text {
    color: var(--white);
    width: 80%;
    min-height: 30px;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 16px;
}

.modal__header-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    border: 1px solid var(--white);
    border-radius: 3px;
    color: var(--white);
    padding: 5px;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
}

.modal__header-close-btn i {
    margin-top: -3px;
}

.modal__search {
    position: relative;
    margin-top: 10px;
    width: 100%;
    background-color: var(--white);
    border-radius: 3px;
    padding: 5px 10px;
}

.modal__search-input {
    width: calc(100% - 20px);
    background: none;
    padding: 5px 0;
    font-size: 1.2rem;
    border: none;
}

.modal__search-icon {
    margin-top: -4px;
    margin-right: 2px;
    margin-left: -3px;

}

.modal__session {
    width: 100%;
    height: calc(94.7vh/2);
    max-height: 350px;
    min-height: 175px;
    padding: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

.modal__session-title {
    font-size: 1.6rem;
    text-align: center;
    padding: 10px;
}

.modal__location-list {
    overflow-y: scroll;
    max-height: calc(100% - 32px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

.modal__location-item {
    border: 1px solid rgb(220, 220, 220);
    padding: 10px;
    width: 48.5%;
    margin: 2px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1.3rem;
}

.modal__location-item:hover {
    background-color: #fdf5c9;
}

.modal__location-item--active,
.modal__location-item--active:hover {
    background-color: rgb(226, 226, 226);
    cursor: no-drop;
}

@media only screen and (max-width: 1239px) {
    .header__slider {
        margin-left: -1px;
    }

    .header__slider .owl-nav {
        top: 3px;
        width: 984px;
    }

    .header__slider .owl-prev {
        left: 0;
    }

    .header__slider .owl-next {
        right: 0;
    }

    .header__second {
        --header-second-height: 56px;
    }

    .iconGlobal-logo {
        background-position: 0 -176px;
        width: 40px;
    }

    .header__locaion,
    .header__search,
    .header__order-history,
    .header__cart {
        margin-left: 10px;
    }

    .header__search-input {
        min-width: 279px;
    }

    .header__navbar {
        --header__navbar-height: 52px;
    }

    .header__navbar-item {
        margin-left: 15.3px;
        font-size: 1.4rem;
    }

    .header__navbar-item span::after {
        right: -11px;
        border: 4.5px solid;
        border-color: var(--dark) transparent transparent transparent;
    }

    .footer__link,
    .footer__text {
        font-size: 1.3rem;
    }

    .footer__sosical-item a {
        font-size: 1.2rem;
        margin-left: unset;
    }

    .footer__coppyright-content {
        font-size: 1.1rem;
    }
}

@media only screen and (max-width: 1024px) {
    .hide-on-lg {
        display: none;
    }

    .header__search-input {
        min-width: 259px;
    }

    .header__bars-btn {
        padding: 5px;
        margin-left: 5px;
        margin-right: -3px;
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .header__navbar {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100vh;
        z-index: 1;
        background-color: var(--white);
        opacity: 0;
        pointer-events: none;
        -webkit-animation: outLeftToRight ease-in-out .5s;
        animation: outLeftToRight ease-in-out .5s;
    }

    .header__navbar.header__navbar--active {
        display: block;
        opacity: 1;
        pointer-events: unset;
        -webkit-animation: inRightToLeft ease-in-out .5s;
        animation: inRightToLeft ease-in-out .5s;
    }

    .header__navbar .show-more-icon::after {
        display: none;
    }

    .header__navbar-close {
        position: relative;
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }

    .header__navbar-close-btn {
        position: relative;
        right: 6px;
        border: 1px solid var(--gray);
        padding: 8px 10px 8px 25px;
        display: inline-block;
        margin-top: 10px;
        border-radius: 3px;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        cursor: pointer;
    }

    .header__navbar-close-btn:hover {
        border-color: var(--danger);
        color: var(--danger);
    }

    .header__navbar .close-symbol,
    .header__navbar .close-symbol::before {
        background-color: var(--gray);
    }

    .header__navbar-close-btn:hover .close-symbol,
    .header__navbar-close-btn:hover .close-symbol::before {
        background-color: var(--danger);
    }

    .header__navbar-flex {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        height: unset;
        margin-top: 5px;
    }

    .header__navbar-item {
        width: 23.4%;
        border: 1px solid var(--gray);
        border-radius: 3px;
        --margin: 5px;
        margin: var(--margin);
        text-align: center;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
    }

    .header__navbar-item:hover {
        border-color: var(--primary);
        color: var(--primary);
    }

    .header__navbar-item:first-child {
        margin-left: var(--margin);
    }

    .header__recommed {
        margin-top: 10px;
        display: block !important;
        padding: 4px;
    }

    .header__recommed-title {
        font-size: 1.6rem;
        font-weight: 500;
        margin: 10px 0;
    }

    .header__recommed-item {
        display: block;
        padding: 10px 0;
        font-size: 1.2rem;
        color: var(--dark);
        text-decoration: none;
        border-top: 1px solid rgb(202, 202, 202);
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
    }

    .header__recommed-item:nth-of-type(1) {
        border-top: none;
    }

    .header__recommed-item:hover {
        color: var(--primary);
    }

    .footer__first .col-third {
        width: 288px;
        margin-top: 30px;
        margin-bottom: 15px;
    }

    .footer__first .col-fourth {
        margin-top: 30px;
        margin-bottom: 15px;
    }

    .footer__coppyright-content {
        word-spacing: unset;
    }
}

@media only screen and (max-width: 740px) {
    .show-on-lg {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }

    .header__logo {
        margin-left: 5px;
    }

    .header__search-input {
        min-width: unset;
        width: 165px;
    }

    .header__navbar .container {
        width: 515px !important;
        max-width: 100% !important;
    }

    .header__navbar .row {
        width: 100%;
    }

    .header__navbar-close-btn {
        right: 35px;
    }

    .header__navbar-flex {
        margin: 0 30px;
        margin-top: 60px;
    }

    .header__navbar-item {
        width: 31.1%;
    }

    .header__recommed {
        margin: 80px 30px !important;
    }

    .footer__first-row {
        margin: 0 28px;
    }

    .footer__coppyright-content {
        margin: 0 28px;
        font-size: 1rem;
    }

    .footer__first-row {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .footer__first .col-first,
    .footer__first .col-second,
    .footer__first .col-third,
    .footer__first .col-fourth {
        margin-top: 30px;
        text-align: center;
    }

    .footer__first .col-first .show-more-icon::after {
        top: 10px;
        left: unset;
        right: 101px;
    }
}

@media only screen and (max-width: 577px) {
    .header__second-flex {
        position: relative;
        margin: 0 auto;
    }

    .header__logo {
        margin: 0 11px;
    }

    .header__locaion {
        margin-left: 0;
    }

    .header__location-panel {
        line-height: 1.6rem;
    }

    .header__location-panel span {}

    .header__logo {}

    .header__search {
        z-index: 1;
    }

    .header__search-btn {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-left: auto;
    }

    .header__search-btn>.icon-search {
        background-position: -216px 0px;
        height: 26px;
        width: 26px;
        background-size: 434px;
    }

    .header__cart {
        background: none;
    }

    .header__cart span {
        display: none;
    }

    .header__search {
        position: absolute;
        top: 90%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        margin-left: 0;
        width: 90%;
        opacity: 0;
        pointer-events: none;
        -webkit-animation: outFadeup ease-in-out .3s;
        animation: outFadeup ease-in-out .3s;
    }

    .header__search .icon-search {
        background-position: -150px 0;
        height: 17px;
        width: 17px;
        background-size: 300px 200px;
    }

    .header__search.header__search--active {
        opacity: 1;
        pointer-events: all;
        -webkit-animation: inFadeDown ease-in-out .3s;
        animation: inFadeDown ease-in-out .3s;
    }

    .header__search::after {
        content: '';
        position: absolute;
        top: -19px;
        right: 90px;
        border: 10px solid;
        border-color: transparent transparent var(--white) transparent;
    }

    .header__search form {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .header__search-input {
        width: calc(100% - 40px) !important;
    }

    .header__suggestions {
        min-width: 100%;
    }

    .header__bars-btn {}

    .header__bars-btn {
        margin-left: 5px;
        padding: 10px;
    }

    .header__navbar {
        overflow-y: scroll;
    }

    .header__navbar .container {
        width: 500px !important;
        max-width: 100% !important;
        margin: 0 auto !important;
    }

    .header__navbar-flex {
        margin: 0 10px;
        margin-top: 15px;
    }

    .header__navbar-item {
        width: 30.5%;
        min-height: 53px;
        padding: 5px;
    }

    .header__navbar-close-btn {
        margin-right: 17px;
        right: 0;
        padding: 10px 5px 10px 30px;
        font-size: 1.4rem;
    }

    .header__navbar-close-btn .close-symbol {
        left: 11px;
        top: 12px;
        height: 12px;
    }

    .header__navbar-close-btn .close-symbol::before {
        height: 12px;
    }

    .header__recommed {
        margin: 30px 17px !important;
        margin-bottom: 80px !important;
    }

    .modal__header-text {
        width: 78%;
    }

    .modal__header-close-btn {
        width: 19%;
        height: 34px;
        font-size: 1.3rem;
        margin-bottom: 5px;
    }

    #modal .close-symbol {
        margin-top: 0;
    }
}

/* ##### PRODUCT BOX ##### */
    .product-box-wrap {
        text-decoration: none;
    }

    .product-box {
        background-color: var(--white);
        border-radius: 10px;
        min-height: 400px;
        padding: 10px;
    }

    .product-box__tra-gop span {
        background-color: rgba(0, 0, 0, 0.08);
        padding: 3px;
        border-radius: 2px;
        font-size: 1.1rem;
        color: var(--dark);
    }

    .product-box__img img {
        margin-top: 10px;
        width: 100px;
        transition: .3s;
    }

    .product-box:hover .product-box__img img {
        transform: translateY(-5px);
    }
    
    .product-box__hightlight {
        background: linear-gradient(to right,#faab08,#d42611);
        display: inline-flex;
        border-radius: 10px;
        align-items: center;
        margin-top: 10px;
    }
    
    .product-box__hightlight img {
        width: 20px !important;
        height: 20px;
    }

    .product-box__hightlight span {
        color: var(--white);
        text-transform: uppercase;
        margin-left: 5px;
        margin-right: 10px;
    }

    .product-box__name {
        color: var(--dark);
        font-size: 1.4rem;
        max-height: 48px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        text-overflow: ellipsis;
    }

    .product-box__price {
        margin-top: 10px;
    }

    .product-box__price .new-price {
        color: #d0021c;
        font-size: 1.8rem;
        font-weight: 500;
    }

    .product-box__price .per-price {
        color: #eb5757;
        background: #fff0e9;
        border-radius: 4px;
        padding: 1px 2px 2px 2px;
        margin-left: 7px;
        font-size: 1.4rem;
    }

    .product-box__gift {
        font-size: 1.3rem;
        color: var(--gray);
        margin-top: 5px;
    }

    .product-box__rate {
        margin-top: 5px;
        font-size: 1.3rem;
    }

    .product-box__rate .rate-point {
        color: #fb6e2e;
    }
    
    .product-box__rate .rate-point i {
        margin-left: 2px;
    }

    .product-box__rate .rate-qty {
        margin-left: 5px;
        color: var(--gray);
    }






:root {
    --main-orange-color: #ffd400;
    --main-orange-color-2: rgba(255, 172, 10, .6);

}